body{
    background: #ee9953;
}

.btn{
    background: white;
}

.nav-margin{
    margin-top: 100px;
}

.container{
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-weight: 700;
}

/*jumbotron*/
.jumbotron{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/people.jpg');
    background-size: cover;
    min-height: 500px;
}


.jumbotron p{

    font-size: 25px;
    font-weight: 400;
    color: white;
}
/*Navbar*/
header .navbar{
    background: #ce630c;
}

header .logo{
    height: 50px;
    width: 50px;
    top:40px;
    left: 50px;
    float: left;
}

header .brand{
    font-family: 'Pacifico', cursive;
}

/*Columnas de información*/
.col-lg-3{
    min-height: 300px;
}

.col-lg-3 .btn{
    top: 100px;
}

@media (max-width:768px){
    .col-12{
        min-height: 33%;
    }
}

/*Footer*/
footer{
    margin-top: 100px;
    background: #ce630c;
    
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer .footer-copyright a{
    text-decoration: none;
    color: #ffffff;
}


/********************selectChart*************************/
.card-btn{
    background: #ce630c;
    color: #FFF;
}


/*************************selectCities*******************************/
