<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Index</title>

</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <img src="../img/coffee.png" alt="" class="logo navbar-brand">
            <a href="/starbucks/index" class="navbar-brand brand">Tasty Coffee</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                    aria-expanded="false" aria-label="Menú de Navegación">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/starbucks/info" class="nav-link">Establecimeintos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/starbucks/selectChart" class="nav-link">Gráficas</a>
                    </li>
                    <li class="nav-item">
                        <a href="/starbucks/cities" class="nav-link">Ciudades</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="jumbotron d-flex">
    <div class="container d-flex">
        <div class="row justify-content-center">
            <div class="col-6 d-flex align-items-center ">
                <p class="text-justify">Proyecto hecho en Java con el Framework Spring Boot utilizando conección a base de datos Mongo y
                    Bootstrap framework para el Frontend
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row my-3 d-flex flex-column">
        <div class="d-flex flex-column flex-lg-row justify-content-lg-between">
            <div class="col-12 col-lg-3 text-center border rounded p-3 d-flex flex-column">
                <h2>Establecimientos</h2>
                <p>Trae desde la base de datos toda la información acerca de las ubicaciones de las cafeterias
                    y las agrega en una tabla de Bootstrap
                </p>
                <a href="/starbucks/info" class="btn btn-block mt-auto">Ir</a>
            </div>
            <div class="col-12 col-lg-3 text-center border rounded p-3 d-flex flex-column">
                <h2>Estádisticas</h2>
                <p>Utilizando Flowcharts trae los nombres de las ciudades de la base de datos y mediante un
                    método del repositorio cuenta el número de establecimientos según el número de incidencias
                    de locales en esa ciudad.
                </p>
                <a href="/starbucks/selectCities" class="btn btn-block mt-auto">Ir</a>
            </div>
            <div class="col-12 col-lg-3 text-center border rounded p-3 d-flex flex-column">
                <h2>Ciudades</h2>
                <p>Trae de la base de datos toda la información acerca de ciudades del contienente americano</p>
                <a href="/starbucks/cities" class="btn btn-block align-self-end mt-auto">Ir</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid p-3">
        <p>© 2019 Copyright: <a href="#">Paul Miranda Vega</a></p>
    </div>
</footer>


    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>