<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>PIE</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <img src="../img/coffee.png" alt="" class="logo navbar-brand">
            <a href="" class="navbar-brand">Tasty Coffee</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                    aria-expanded="false" aria-label="Menú de Navegación">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/starbucks/info" class="nav-link">Establecimeintos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/starbucks/selectCities" class="nav-link">Estádisticas</a>
                    </li>
                    <li class="nav-item">
                        <a href="/starbucks/cities" class="nav-link">Ciudades</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="chart" style="height: 400px"></div>
<script th:inline="javascript">

    var listCities = /*[[${listCities}]]*/[];
    var numbers = /*[[${numbers}]]*/[];
    var array= [];
    var City = function(name, data){
        this.name = name;
        this.data = data;
    }

    for(var x=0; x<numbers.length; x++){
        array[x] = new City(listCities[x], numbers[x]);
    }

    var nombre = Array();
    var data = Array();
    var dataArrayFinal = Array();

    for(i=0;i<array.length;i++) {
        nombre[i] = array[i].name;
        data[i] = array[i].data;
    }
    console.log(nombre);
    for(var x=0; x<array.length;x++){
        console.log(nombre[x]);
        console.log(data[x]);
    }

    for(j=0;j<nombre.length;j++) {
        var temp = new Array(nombre[j],data[j]);
        dataArrayFinal[j] = temp;
    }

    console.log(dataArrayFinal);


    Highcharts.chart('chart', {
        chart : {
            type : 'pie',
            options3d : {
                enabled : true,
                alpha : 50,
                beta : 0
            }
        },
        title : {
            text : 'Starbucks for Each City'
        },
        tooltip : {
            pointFormat : '{series.name}: <b>{point.y:.1f}</b>'
        },
        plotOptions : {
            pie : {
                allowPointSelect : true,
                cursor : 'pointer',
                depth : 35,
                dataLabels : {
                    enabled : true,
                    format : '{point.name}'
                }
            }
        },
        series : [ {
            type : 'pie',
            name : 'Number of Stablishments',
            data : dataArrayFinal
        } ]
    });
</script>


<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>
</html>