<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Cities</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container">
            <img src="../img/coffee.png" alt="" class="logo navbar-brand">
            <a href="/starbucks/index" class="navbar-brand">Tasty Coffee</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                    aria-expanded="false" aria-label="Menú de Navegación">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/starbucks/info" class="nav-link">Establecimientos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/starbucks/selectCities" class="nav-link">Estádisticas</a>
                    </li>
                    <li class="nav-item">
                        <a href="/starbucks/cities" class="nav-link">Ciudades</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row seleccionadores">
        <div class="col-lg-4 col-12">
            <h2>Seleccione un País</h2>
            <hr>
            <form class="form-sm-inline" th:action="@{/starbucks/selectCities}" method="get">
                <div class="form-check"  th:each="names, iterStat : ${namesOfCities}">
                    <label class="form-check-label mt-2">
                        <input class="mr-3" type="checkbox"  name="lista" th:value="${names}" th:text="${names}">
                    </label>
                </div>
                <button class="btn btn-block my-3">Aceptar</button>
            </form>
        </div>
        <div class="col-12 col-lg-8">
            <div id="chart" style="height: 400px"></div>
        </div>
    </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">

    var selectedNames = /*[[${selectedNames}]]*/[];
    var numberOfStablishments = /*[[${numberOfStablishments}]]*/[];
    var array= [];
    var City = function(name, data){
        this.name = name;
        this.data = data;
    }

    for(var x=0; x<numberOfStablishments.length; x++){
        array[x] = new City(selectedNames[x], numberOfStablishments[x]);
    }

    var nombre = Array();
    var data = Array();
    var dataArrayFinal = Array();

    for(i=0;i<array.length;i++) {
        nombre[i] = array[i].name;
        data[i] = array[i].data;
    }

    for(j=0;j<nombre.length;j++) {
        var temp = new Array(nombre[j],data[j]);
        dataArrayFinal[j] = temp;
    }



    Highcharts.chart('chart', {
        chart : {
            backgroundColor: '#EE9953',
            type : 'pie',
            options3d : {
                enabled : true,
                alpha : 50,
                beta : 0
            }
        },
        title : {
            text : 'Starbucks for Each City'
        },
        tooltip : {
            pointFormat : '{series.name}: <b>{point.y:.1f}</b>'
        },
        plotOptions : {
            pie : {
                allowPointSelect : true,
                cursor : 'pointer',
                depth : 35,
                dataLabels : {
                    enabled : true,
                    format : '{point.name}'
                }
            }
        },
        series : [ {
            type : 'pie',
            name : 'Number of Stablishments',
            data : dataArrayFinal
        } ]
    });
</script>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>
</html>