<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <title>Starbucks</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <script>
        $("#table tr").click(function() {
            window.location = $(this).find('td:eq(5)').attr("href");
        });
    </script>
</head>
<body>
<div class="container">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <img src="../img/coffee.png" alt="" class="logo navbar-brand">
                <a href="/starbucks/index" class="navbar-brand">Tasty Coffee</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                        aria-expanded="false" aria-label="Menú de Navegación">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="/starbucks/info" class="nav-link">Establecimientos</a>
                        </li>
                        <li class="nav-item">
                            <a href="/starbucks/selectCities" class="nav-link">Estádisticas</a>
                        </li>
                        <li class="nav-item">
                            <a href="/starbucks/cities" class="nav-link">Ciudades</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row justify-content-center seleccionadores">
        <div class="col-12">
            <table class="table table-hover table-bordered table-sm table-responsive-md">
                <thead>
                <tr>
                    <th>Street</th>
                    <th>Name</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Postal Code</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="starbuck : ${starbucks}">
                        <td th:text="${starbuck.street_combined}"></td>
                        <td th:text="${starbuck.name}"></td>
                        <td th:text="${starbuck.longitude}"></td>
                        <td th:text="${starbuck.latitude}"></td>
                        <td th:text="${starbuck.country}"></td>
                        <td  th:text="${starbuck.city}" th:href="@{/starbucks/searchCity?city=__${starbuck.city}__}"></td>
                        <td th:text="${starbuck.postal_code}"></td>
                        <td>
                            <a th:href="@{/starbucks/searchCity?city=__${starbuck.city}__}">
                                <button class="btn">Buscar Ciudad</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>