<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Charts</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <div class="container">
                <img src="img/coffee.png" alt="" class="logo navbar-brand">
                <a href="" class="navbar-brand brand">Tasty Coffee</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                    aria-expanded="false" aria-label="Menú de Navegación">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link">Establecimeintos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Estádisticas</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Ciudades</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container nav-margin">
        <div class="row">
            <div class="col">
                <div class="card-group">
                    <div class="card mx-3">
                        <img src="../img/barChart.PNG" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h3 class="card-title">Bar Chart</h3>
                            <p class="card-text">Gráfica de barra sencilla.</p>
                            <a href="/starbucks/barCharts">
                                <button class="card-btn btn-block btn-lg">Ir</button>
                            </a>
                        </div>
                    </div>
                    <div class="card mx-3">
                        <img src="../img/pieChart.PNG" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h3 class="card-title">Pie Chart</h3>
                            <p class="card-text">Gráfica de Pastel sencilla</p>
                            <a href="/starbucks/selectCities">
                                <button class="card-btn btn-block btn-lg" >Ir</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <div class="container-fluid text-center p-3 w-100">
            <p>© 2019 Copyright:<a href="#"> Paul Miranda Vega</a></p>
        </div>
    </footer>


    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
</body>

</html>